---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<ul>
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <li>
        <em>{{ post.title }}</em>
        {% if post.authors %}<br>{% assign authors = post.authors | split: "; " %}{% for author in authors %}{% assign author_last_name = site.author.name | split: " " | last %}{% if author contains author_last_name %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}
        <br>
        {% if post.url or post.arxiv %}
          {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.venue }} ({{ post.date | date: '%Y' }})</a>{% endif %}
          {% if post.paperurl and post.arxivurl %} | {% endif %}
          {% if post.arxivurl %}<a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
        {% endif %}
        {% if post.comment %}<br><small><em>{{ post.comment }}</em></small>{% endif %}
      </li>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <li>
      <em>{{ post.title }}</em>
      {% if post.authors %}<br>{% assign authors = post.authors | split: "; " %}{% for author in authors %}{% assign author_last_name = site.author.name | split: " " | last %}{% if author contains author_last_name %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}
      <br>
      {% if post.url or post.arxiv %}
        {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.venue }} ({{ post.date | date: '%Y' }})</a>{% endif %}
        {% if post.paperurl and post.arxivurl %} | {% endif %}
        {% if post.arxivurl %}<a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
      {% endif %}
      {% if post.comment %}<br><small><em>{{ post.comment }}</em></small>{% endif %}
    </li>
  {% endfor %}
{% endif %}
</ul>

