---
layout: archive
title: "The EMC-SRC Effect"
permalink: /research/pion-cloud
author_profile: true
topic: "pion-cloud"
---

<p>
    Scale separation between the quark (~GeV) and nuclear (~MeV) regimes holds extremely well, and explains the success of the IPM shell model in describing most nuclear dynamics. However, In 1983 it was discovered that this scale separation breaks down, in what is now known as the EMC effect. Over 40 years and 1000 publications later, the scientific community still has no widely accepted explanation, though only two primary mechanics remain.
</p>

<p>
    The Large Acceptance Detector experiment at Jefferson Lab aims to test one of these mechanics—the EMC-SRC hypothesis, whereby the breakdown in scale separation occurs predominantly in high momentum proton-neutron pairs. If successful, this experiment could provide the first definitive answer to the >40-year old unsolved EMC Effect.
</p>



<h2>Relevant publications and Talks</h2>

{% assign emc_src_pubs = site.publications | where: "topic", page.topic %}
{% if emc_src_pubs.size > 0 %}
    <h3>Publications</h3><hr />
    {% for post in emc_src_pubs reversed %}
        <li>
            <em>{{ post.title }}</em>
            {% if post.authors %}<br>{% assign authors = post.authors | split: "; " %}{% for author in authors %}{% if author contains site.author.name %}​<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
            <br>
            {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.venue }} ({{ post.date | date: '%Y' }})</a>{% endif %}
            {% if post.arxivurl %} | <a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
            {% if post.comment %}<br><small><em>{{ post.comment }}</em></small>{% endif %}
        </li>
    {% endfor %}
{% endif %}

{% assign emc_src_talks = site.talks | where: "topic", page.topic %}
{% if emc_src_talks.size > 0 %}
    <h3>Talks</h3><hr />
    {% for post in emc_src_talks reversed %}
        <li>
            {% if post.title %}<em><a href="{{ post.link }}">{{ post.title }}</a></em><br>{% endif %}
            {% if post.venue %}{{ post.venue }}{% endif %}{% if post.date %} ({{ post.date | date: '%Y' }}){% endif %}{% if post.location %}, {{ post.location }}{% endif %}
        </li>
    {% endfor %}
{% endif %}
