---
layout: archive
title: "Search for BSM Physics in di-Higgs Decays"
permalink: /research/CERN
author_profile: true
topic: "cern"
---

<p>
    As a part of the CERN summer student program, I worked with a team at UC Berkeley to develop a Graphical Neural Network machine learning algorithm to search for pair production of Higgs via HH → γγ + X̸ ≠ bb decays.
</p>




<h2>Relevant publications and Talks</h2>

{% assign cern_pubs = site.publications | where: "topic", page.topic %}
{% if cern_pubs.size > 0 %}
    <h3>Publications</h3><hr />
    {% for post in cern_pubs reversed %}
        <li>
            <em>{{ post.title }}</em>
            {% if post.authors %}<br>{% assign authors = post.authors | split: "; " %}{% for author in authors %}{% if author contains site.author.name %}​<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
            <br>
            {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.venue }} ({{ post.date | date: '%Y' }})</a>{% endif %}
            {% if post.arxivurl %} | <a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
            {% if post.comment %}<br><small><em>{{ post.comment }}</em></small>{% endif %}
        </li>
    {% endfor %}
{% endif %}

{% assign cern_talks = site.talks | where: "topic", page.topic %}
{% if cern_talks.size > 0 %}
    <h3>Talks</h3><hr />
    {% for post in cern_talks reversed %}
        <li>
            {% if post.title %}<em><a href="{{ post.link }}">{{ post.title }}</a></em><br>{% endif %}
            {% if post.venue %}{{ post.venue }}{% endif %}{% if post.date %} ({{ post.date | date: '%Y' }}){% endif %}{% if post.location %}, {{ post.location }}{% endif %}
        </li>
    {% endfor %}
{% endif %}
